.row.hero-text-box
  .col-xs-offset-2.col-xs-7.col-sm-offset-1.col-sm-8.col-md-offset-1.col-md-5.info
    .hero-box
      %h1#heading Hexology
      %p.hero-text
        An
        %span.hero-text-highlight Online Scavenger Hunt
        that bends the rules of logic, and explores the depths of knowledge on the internet
      .row
        .col-xs-offset-3.col-sm-offset-4
          .show.hero-button
            =link_to "Sign Up","#", class: "button", id: "sign-up-button"
          .hide.hero-button
            =link_to "Sign In","#", class: "button", id: "sign-in-button"
  .col-xs-offset-2.col-xs-9.col-offset-2.col-sm-7.col-md-offset-2.col-md-4.forms
    .show
      = render 'devise/sessions/new'
    .hide
      = render 'devise/registrations/new'
