.row.hero-text-box
  .col-md-6
    %h1 Hexology
    %p.hero-text
      An
      %span.hero-text-highlight Online Scavenger Hunt
      that bends the rules of logic, and explores the depths of knowledge on the internet
    .show
      =link_to "Sign Up","#", class: "button hero-button", id: "sign-up"
    .hide
      =link_to "Sign In","#", class: "button hero-button", id: "sign-in"
  .col-md-6
    .show
      = render 'devise/sessions/new'
    .hide
      = render 'devise/registrations/new'
