.row.hero-text-box
  .col-xs-offset-2.col-xs-7.col-sm-offset-1.col-sm-8.col-md-offset-1.col-md-5
    .hero-box
      %h1 Hexology
      %p.hero-text
        An
        %span.hero-text-highlight Online Scavenger Hunt
        that bends the rules of logic, and explores the depths of knowledge on the internet
    .show
      =link_to "Sign Up","#", class: "button hero-button", id: "sign-up"
    .hide
      =link_to "Sign In","#", class: "button hero-button", id: "sign-in"
  .col-xs-offset-2.col-xs-9.col-offset-2.col-sm-7.col-md-offset-2.col-md-4
    .show
      = render 'devise/sessions/new'
    .hide
      = render 'devise/registrations/new'
