- if user_signed_in?
  %span.glyphicon.glyphicon-chevron-left
  %span.glyphicon.glyphicon-ok-circle
  %span.glyphicon.glyphicon-ok-circle
  %span.glyphicon.glyphicon-ok-circle
  %span.glyphicon.glyphicon-ok-circle
  %span.glyphicon.glyphicon-ok-circle
  %span.glyphicon.glyphicon-remove-circle
  %span.glyphicon.glyphicon-remove-circle
  %span.glyphicon.glyphicon-remove-circle
  %span.glyphicon.glyphicon-remove-circle
  %span.glyphicon.glyphicon-remove-circle
  %span.glyphicon.glyphicon-remove-circle
  %span.glyphicon.glyphicon-remove-circle
  %span.glyphicon.glyphicon-remove-circle
  %span.glyphicon.glyphicon-remove-circle
  %span.glyphicon.glyphicon-remove-circle
  %span.glyphicon.glyphicon-chevron-right
  -# Add Our timeline
