- if user_signed_in?
  -@q_id = current_user.question_id
  %span.glyphicon.glyphicon-chevron-left
  - for i in 1..(@q_id-1)
    %span.glyphicon.glyphicon-ok-circle
  %span.glyphicon.glyphicon-remove-circle.colored-icon
  - for j in 1..(14-@q_id)
    %span.glyphicon.glyphicon-remove-circle
  %span.glyphicon.glyphicon-chevron-right
