.row.contact
  .col-xs-offset-2.col-xs-8.col-md-offset-2.col-md-8
    %h2 Event Co-ordinators
    %p  Paritosh Mehta
    %p  Ph: +91 9811889953
    %p  Email-Id: hexologyhunt@gmail.com

    = link_to "Back", root_path, class: "button contact-button"
