.question
  .row
    .col-xs-offset-2.col-xs-8.col-md-offset-2.col-md-8
      #q Q
    .col-xs-offset-2.col-xs-8.col-md-offset-2.col-md-8
      %p=simple_format(@question.question)
  .row
    .col-xs-offset-2.col-xs-8.col-md-offset-2.col-md-8
      = form_tag(:action => "check") do
        = password_field_tag :answer
        = submit_tag("Next", class: "button answer-button")
