.row
  .col-md-8.col-md-offset-2
    %h3 Rules and Regulations
    %ul
      %li
        Caps and spaces are not allowed. Eg: if your answer is I am playing Hexology Hunt,
        you will have to enter iamplayinghexologyhunt to proceed.
      %li The answers also do not have any special characters.
      %li Beware of the spelling you enter, Hexology can't auto correct your spellings!
      %li
        You are advised not to provide answers or any direct links to the answer on the forum.
        It will lead to immediate disqualification.
      %li
        Ensure that you have registered with your correct email id so that
        you get all regular updates.

    %p= link_to "Back", root_path
