/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

// Custom Font
@font-face {
  font-family: "MODERN SANS";
  src: url(/assets/MODERN SANS);
}
 /*-------------------------------------*/
 /* REUSABLE COMPONENTS */
 /*-------------------------------------*/

 // .row {
 //     max-width: 1140px;
 //     margin: 0 auto;
 // }


 .hide {
     display: none;
 }

 .show {

 }

 /*-----------BUTTTONS------------------*/

 .button:link,
 .button:visited,
 input[type=submit]{
    color: whitesmoke;
    font-family: 'Ubuntu', 'Verdana', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    background: none;
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 200px;
    border: 1.5px solid whitesmoke;
    color: whitesmoke;
    // margin-right: 30px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
 }

 .button:hover,
 .button:active,
 input[type=submit]:hover,
 input[type=submit]:active{
     background-color: whitesmoke;
     color: black;
 }

 /*-------------------------------------*/
 /* BASIC SETUP */
 /*-------------------------------------*/
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html,
 body {
     background-color: #000000;
     color: whitesmoke;
     font-family: 'Ubuntu', 'Verdana', sans-serif;
     font-size: 110%;
     font-weight: 400;
     text-rendering: optimizeLegibility;
 }

body {
    color: white;
    background-image:-webkit-linear-gradient(rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.94)), url(hero-1.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.94)), url(hero-1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.hero-text-box, .question, .contact, .rules, .winner {
  padding-top: 1%;
  padding-bottom: 1%;
  background: rgba(0, 0, 0, 0.3)
}

/*-----------HEADINGS------------- ----*/


h1 {
    margin: 0;
    font-family: 'Sigmar One', 'Verdana', sans-serif;
    font-size: 350%;
    text-transform: uppercase;
    letter-spacing: 3px;
}
 /*-----------LOGO------------------*/

 .logo {
     height: 150px;
     width: auto;
     float: left;
 }

 /*----------NAVIGATION----------------*/

 .main-nav {
    //  font-family: 'MODERN SANS', 'Verdana', sans-serif;
     float: right;
     list-style: none;
     margin-top: 70px;
 }

 .main-nav li{
     display: inline-block;
     margin-left: 40px;
 }

 .main-nav li a:link,
 .main-nav li a:visited {
     padding: 4px 0px;
     text-decoration: none;
     color: whitesmoke;
     text-transform: uppercase;
     font-size: 90%;
     border-bottom: 2px solid transparent;
     -webkit-transition: border-bottom 0.2s;
     transition: border-bottom 0.2s;
 }

 .main-nav li a:hover,
 .main-nav li a:active {
     border-bottom: 2px solid whitesmoke;
 }
 /*---------FORM-----------------------*/

 input[type=text],
 input[type=password],
 input[type=email]{
     color: black;
     width: 100%;
     padding: 4px;
     margin: 2px;
     border-radius: 3px;
     border: 1px solid #ccc;
 }
 /*-------------------------------------*/
/* Welcome Page */
/*-------------------------------------*/
.hero-text-highlight {
  font-weight: 700;
  font-style: italic;
}
.hero-text {
  text-align: left;
}
.hero-button {
  margin-left: 23%;
}
/*-------------------------------------*/
/* Questions Page */
/*-------------------------------------*/
#q {
    margin: 0;
    font-family: 'Sigmar One', 'Verdana', sans-serif;
    font-size: 400%;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline-block;
    float: left;
    padding: 0;
}

/*-------------------------------------*/
/* Contact-Us Page */
/*-------------------------------------*/
.contact-button {
  float: right;
}
.contact {
  text-align: center;
}
/*-------------------------------------*/
/* Rules Page */
/*-------------------------------------*/
.rules-button {
  float: right;
}
.rules {
  list-style: none;
  text-align: center;
  li {
    padding-top: 10px;
  }
}
.arrow {
  padding-right: 10px;
}
